    @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

    *{
        font-family: 'Mulish', sans-serif;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    /* Header style start */


    .mobile{
        display: none;
    }

    .nav-left i{
        color: #FF5400;
    }

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container{
        max-width: 1170px;
        width: 81%;
        margin: 50px auto;
    }

    .nav-left{
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }

    .nav-right .nav-li{
        display: inline;
    }

    .nav-right .nav-li a{
        text-decoration: none;
        color:#424247;
        font-size: 1.1rem;
        font-weight: 400;
        margin-left: 2.8rem;
    }

    .nav-left .nav-li{
        width: 48px;
        color: #FF5400;
    }

    .nav-left h2{
        color: #131318;
        font-size: 2.1rem;
        font-weight: 800;
    }

    .nav-left .tour{
        color: #FF5400;
        font-weight: 800;
    }

    .nav-right .home{
        color: #FF5400;
        font-weight: 700;
    }

    .banner-sec{
        background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
        width: 100%;
        height: 500px;
        border-radius: 16px;
        margin-top: 50px;
    }

    .banner{
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    }

    .banner .banner-content{
        text-align: center;
    }

    .banner .banner-content h2{
        color: #FFF;
        font-size: 4rem;
        font-weight: 800;
        padding-top:  105px;
    }

    .banner .banner-content p{
        color: #FFF;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6;
        max-width: 676px;
        margin: 24px auto;
    }

    .banner-input{
        display: flex;
        flex-wrap: wrap;
        padding: 16px;
        gap: 24px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
    }

    .banner-down{
        border-radius: 8px;
        background: #FFF;
        width: 176px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .banner input{
        color: rgba(19, 19, 24, 0.50);
        font-size: 16px;
        font-weight: 400;
        border: none;
        width: 85px;
        margin: 1rem;
        outline: none;
    }

    .flex-center{
        display: flex;
        justify-content: center;
    }
    .banner-down .arrow{
        margin: 14px 15px;
    }

    .bbtn{
        justify-content: space-evenly;
        border-radius: 8px;
        background: #FF5400;
    }

    .bbtn .btn{
        color: #FFF;
        font-size: 1rem;
        font-weight: 700;
        border: none;
        background: #FF5400;
        margin-right: 20px;
    }

    .bbtn .bicon{
            margin-left: 20px;
            color: #FFF; 
    }    
    /* Header style end */

    /* main */
    /* popular style start */
    .popular-section{
        display: flex;
        justify-content: space-between;
    }

    .popular-content h2{
        color: #131318;
        font-size: 2.5rem;
        font-weight: 800;
    }

    .popular-content .popular-desc{
        color: rgba(19, 19, 24, 0.70);
        font-size: 1rem;
        font-weight: 400;
        line-height: 26px; 
        max-width: 577px;
        margin: 24px 0;
    }

    .popular-ul li{
        color: rgba(19, 19, 24, 0.70);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        max-width: 525px;
        margin: 16px 20px;
    }

    .popular-content .popular-bt{
        max-width: 525px;
        color: #5A5A5D;
        font-size: 1rem;
        font-weight: 400;
        line-height: 26px;
        margin-top: 24px;      
    }

    .popular-content .btn{
        border-radius: 8px;
        background: #FF5400;
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 800;
        border: none;
        width: 174px;
        height: 52px;
        margin-top: 32px;
    }

    .popular-img img{
        width: 100%;
        height: 550px;
    }
    /* popular style end */

    /* destination style start */

    .row-common{
        display: flex;
        gap: 24px;
    }

    .row-common img{
        margin-top: 24px;
        width: 100%;
    }

    .section-title{
        color: #131318;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 800;
    }

    .section-desc{
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 26px;
        max-width: 643px;
        margin: 24px auto;
    }

    .city-name{
        display: none;
        position: absolute;
        top: 100px;
        color: #FFF;
        font-family: Mulish;
        font-size: 28px;
        font-weight: 800;
    }
    /* destination style end */

    /* why choose us style start */
    .card{
        border-radius: 16px;
        width: 500px;
        height: 284px;
    }
    
    .card h3{
        color: #131318;
        font-size: 1.2rem;
        font-weight: 800;
        margin-left: 32px;
    }

    .card p{
        color: #5A5A5D;
        font-size: 1rem;
        font-weight: 400;
        line-height: 26px;
        margin-top: 16px;
        margin-left: 32px;
        margin-bottom: 32px;
    }

    .card-container{
        display: flex;
        justify-content: space-between;
    }

    .card-1{
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
    }

    .card-2{
        border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
    }

    .card-3{
        border-radius: 16px;
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
    }

    .choose-us-container{
        margin-top: 100px;
    }

    .card i{
        margin: 32px;
    }

    .card-bt{
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }
    /* why choose us style end */

    /* news letter style  start*/
    .news-letter{
        display: flex;
        gap: 24px;
    }

    .news-content{
        max-width: 474px;
        min-width: 356px;
    }

    .letter-content{
        padding: 40px;
        border-radius: 16px;
        border: 1px solid #FF5400;
    }

    .letter-img img{
        width: 100%;
    }

    .letter-content h3{
        color: #131318;
        font-size: 1.5rem;
        font-weight: 800;
    }

    .letter-content p{
        color: #5A5A5D;
        font-size: 1rem;
        font-weight: 400;
        line-height: 26px;
        margin-top: 16px;
        max-width: 350px;
    }

    .hr-1{
        background: rgba(19, 19, 24, 0.10);
        max-width: 393px;
        height: 1px;
        margin: 24px 0;
    }

    .letter-content input{
        width: 393px;
        height: 52px;
        border-radius: 8px;
        background: rgba(19, 19, 24, 0.05);
        border: none;
        color: rgba(19, 19, 24, 0.30);
        font-size: 1rem;
        font-weight: 400;
        padding: 16px;
    }
    #input{
        margin-top: 16px;
    }

    .letter-content .sub{
        color: #FFF;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 800;
        width: 393px;
        height: 52px;
        border-radius: 8px;
        background: #FF5400;
        border: none;
        margin-top: 24px;
    }

    .disc{
        width: 324px;
        height: 120px;
        transform: rotate(-19.628deg);
        flex-shrink: 0;

        border-radius: 16px;
        background: #FF5400;
    }

    .disc h2{
        color: #FFF;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        margin: 15px;
    }

    .disc p{
        color: #FFF;
        font-size: 1.8rem;
        font-weight: 800;
        margin-bottom: 15px;
        text-align: center;
    }
    
    .dis{
        display: flex;
        position: relative;
        justify-content: flex-end;
        margin-right: 20px;
        bottom: 178px;
    }
    /* news letter style  end*/
    
    /* footer style start */

    footer{
        border: 1px saddlebrown solid;
        width: 100%;
        margin: 0 auto;
        margin-top: 100px;
        max-width: 1440px;
        height: 502px;
        flex-shrink: 0;
        background: rgba(19, 19, 24, 0.05);
    }

    .footer-head{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 90px;
    }

    .footer-head p{
        margin-top: 15px;
        color: #5A5A5D;
        font-size: 1rem;
        font-weight: 400;
        line-height: 26px;
        max-width: 769px;
    }

    .footer-icon{
        text-align: center;
        margin-top: 30px;
    }

    .footer-icon i{
        padding: 10px;
    }

    .hr-2{
        max-width: 872px;
        height: 1px;
        background: rgba(19, 19, 24, 0.10);
        margin: 50px auto;
    }

    .footer-last{
        color: #131318;
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
    }

    .fff{
        max-width: 350px;
        margin: 0 auto;
        margin-bottom: 33px;
    }

    /* footer style end */











    /* Responsive For mobile */

    @media screen and (max-width: 576px) {

        .container{
            width: 90%;
        }
        .pc{
            display: none;
        }

        .mobile{
            display: block;
        }

        .banner input{
            flex-direction: column;
            text-align: center;
        }

        .banner .banner-content h2{
            font-size: 1.37rem;
            padding-top: 32px;
        }
        .banner .banner-content p{
            font-size: .9rem;
            margin-top: 8px;
        }

        .banner-input{
            width: 287px;
            align-items: center;
            justify-content: center;
        }

        .popular-section{
            flex-direction: column;
        }
        .popular-img img{
            margin-top: 50px;
        }
        .mobile-desc{
            font-size: .9rem;
            min-width: 200px;
        }

        .popular-content h2{
            font-size: 1.3rem;
        }


        .popular-img img{
            height: auto;
            /* margin-top: 24px; */
        }

        .row-common,
        .card-container
        {
            flex-direction: column;
        }

        .card{
            width: auto;
        }
        .card-2{
            margin-top: 24px;
        }

        .news-letter{
            flex-direction: column;
        }

        .letter-content input, .letter-content .sub{
            width: 300px;
        }

        .disc{
            width: 214px;
            height: 79px;
            transform: rotate(-19.628deg);
            border-radius: 10px;

        }
    
        .disc h2{
            font-size: .9rem;
            font-weight: 400;
        }
    
        .disc p{
            font-size: 1.3rem;
            font-weight: 800;
        }

        .dis{
            bottom: 130px;
        }

        .row-common img{
            max-width: 335px;
            max-height: 176px;
            border: 16px;
        }




        

    }